body{
    margin: 0;
    padding: 0;
}

.sign-up{
    position: relative;
    align-content: center;
    padding: 20px;
    padding-left: 10%;
    width:50%;
}
.postsul
{
    list-style: None;
    margin: 10px 0;
} 