{% extends "default.html" %}
{% block content %}
   <div style="padding-top: 10px;padding-left: 10px; padding-right: 10px;">
        <ul class="postsul">

            {% for p in post.keys() %}
            <li style="border-style: ridge; padding-left: 10px; padding-top: 20px;width: 40%">
                <article>
                    <h3>{{p}}</h3>
                    <div style="display: flex; align-items: center;">
                        <h4>{{post[p]["title"]}}</h4>
                        <p>{{post[p]["date"]}}</p>
                    </div>
                    <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                       {{post[p]["content"]}}
                    </p>
                </article>
            </li>    
            {% endfor %}
        </ul>
   </div>
{% endblock content %}
