{% extends "default.html" %}
{% block content %}
    <div class="sign-up">
        <form method="POST" action="/auth">
            <div class="container">
            {{ form.FirstName.label(class="form-group") }}
            {{ form.FirstName(class="form-control")}}<br>
            {{ form.LastName.label(class="form-group") }}
            {{ form.LastName(class="form-control")}}<br>
            {{ form.Email.label(class="form-group") }}
            {{ form.Email(class="form-control")}}<br>
            {{ form.Password.label(class="form-group") }}
            {{ form.Password(class="form-control")}}<br>
            {{ form.CPassword.label(class="form-group") }}
            {{ form.CPassword(class="form-control")}}<br>
            {{ form.SignUp(class="btn btn-primary") }}
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                       {% for message in messages %}
                            {{ message }}
                       {% endfor %}
                    {% endif %}
               {% endwith %}
            </p>
            </div>
        </form>
    </div>
{% endblock content %}